{% extends "base.html" %}
{%  block content %}
    <div class= "revies-form">
        <h1>Оставить отзыв</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
{#            {{ showform.as_p }}#}
            <p><input type="submit" value="Отставить отзыв"></p>

        </form>
    </div>
{#    <div class="show-form">#}
{#        <form method="POST">#}
{#            {% csrf_token %}#}
{#            {{ showform.as_p }}#}
{#        </form>#}
{#    </div>#}
{% endblock %}