{% extends "base.html" %}
{%  block content %}
    <div class= "revies-form">
        <h1>Оставить отзыв</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Отставить отзыв"></p>
        </form>
    </div>
    <div class="show-form">
    <h2>Все отзывы</h2>
        {%  for item in Revies_1 %}
        <p>Оставил <em>{{ Revies_1.name }}</em></p>
        <p>{{ Revies_1.revies }}</p>
        {% endfor %}
    </div>

{% endblock %}